<div class="article container">
	<h4 class="h4 page-header">О нас</h4>

	<p>ООО «Новые информационные технологии» - динамично развивающаяся компания, основанная в 2006 году, целью которой является предоставление стабильного,
	 высокоскоростного доступа к глобальной сети Интернет по волоконно-оптическим линиям связи. 
	 Стабильность доступа к сети Интернет достигается благодаря работе с несколькими магистральными операторами: «Старттелеком», «Ростелеком», «Транстелеком». Помимо доступа к сети Интернет наша компания занимается проектированием, 
	 монтажом и обслуживанием крупных корпоративных компьютерных сетей, оптимизацией IT – инфраструктуры заказчиков. Имеется свой штат программистов занимающихся разработкой необходимого программного обеспечения для обеспечения автоматизации работы сети и дополнительных сервисов.</p>
	 <p>Генеральный директор – Городилов Максим Михайлович. </p>
	 <p>При сотрудничестве с администрацией города Глазова нами были установлены и настроены сервера и пользовательские компьютерные места в МФЦ, а так же написан для него интернет сайт. Для МФЦ было поставлено, установлено и настроено оборудование «Электронного киоска» и «Электронной очереди», написано для них программное обеспечение, интегрированное с интернет сайтом. Мы предоставляем помощь в наполнении сайта государственных услуг.Команда программистов нашей организации давно и успешно занимается разработкой и внедрением программного обеспечения любой сложности.  <p>Наша организация занимается техническим обслуживанием сети ЕДДС (Единая дежурно-диспетчерская служба) города Глазова. По нашим каналам ЖКУ города связываются с ИВЦ (Информационно-вычислительный центр).</p>

	<div class="row">
		
		<div class="col-md-3 col-sm-4 col-xs-6">
			<a data-fancybox="galery" href="images/galery/1.jpg">
			  <img class="img-fluid" src="images/galery/1-sm.jpg" alt="...">
		    </a>
		</div>
		
		<div class="col-md-3 col-sm-4 col-xs-6">
				<a data-fancybox="galery" href="images/galery/2.jpg">
				  <img class="img-fluid" src="images/galery/2-sm.jpg" alt="...">
				</a>
			</div>

		<div class="col-md-3 col-sm-4 col-xs-6">
			<a data-fancybox="galery" href="images/galery/3.jpg">
		    <img class="img-fluid" src="images/galery/3-sm.jpg" alt="...">
			</a>
		</div>

		<div class="col-md-3 col-sm-4 col-xs-6">
				<a data-fancybox="galery" href="images/galery/4.jpg">
				<img class="img-fluid" src="images/galery/4-sm.jpg" alt="...">
				</a>
			</div>
	</div><br>
</div>
