    <div id="claims">
    <h2>Список пользователей</h2>
    <form id="claimForm" name="claimForm">
        <input type="hidden" name="id" value="0" />
        <div class="form-group">
            <label for="name">Surname:</label>
            <input class="form-control" name="surname" />
        </div>
        <div class="form-group">
            <label for="price">Name:</label>
            <input class="form-control" name="name" />
        </div>
		<div class="form-group">
            <label for="price">Patronymic:</label>
            <input class="form-control" name="patronymic" />
        </div>
		<div class="form-group">
            <label for="price">Adress:</label>
            <input class="form-control" name="adress" />
        </div>
        <div class="form-group">
            <label for="price">Tariff:</label>
            <input class="form-control" name="tariff" />
        </div>
        <div class="form-group">
            <label for="price">Phone:</label>
            <input class="form-control" name="phone" />
        </div>
        <div class="form-group">
            <label for="price">Email:</label>
            <input class="form-control" name="mail" />
        </div>
        <div class="panel-body">
            <button type="submit" class="btn btn-sm btn-primary">Сохранить</button>
            <a id="reset" class="btn btn-sm btn-primary">Сбросить</a>
        </div>
    </form>
    <table class="table table-condensed table-striped table-bordered">
        <thead><tr><th>Surname</th><th>Name</th><th>Patronymic</th><th>Adress</th><th>Tariff</th><th>Phone</th><th>Email</th><th></th></tr></thead>
        <tbody>
        </tbody>
    </table>
</div>
