<div class="article container">
    <h4 class="h4 page-header">Контакты</h4>
    <address>
        Удмуртская Республика, г.Глазов, ул.Калинина д.9а <br /> 
        <strong> Тел: (34141)6-67-20 </strong><br /> 
    </address>
<div class="map-responsive">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1254.756402246483!2d52.69378352768522!3d58.14159278623269!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x43e4f3ea8cb495af%3A0x5e0c329489adad4d!2z0J3QvtCy0YvQtSDQuNC90YTQvtGA0LzQsNGG0LjQvtC90L3Ri9C1INGC0LXRhdC90L7Qu9C-0LPQuNC4!5e0!3m2!1sru!2sru!4v1551739223282" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
    <address>
        <strong>Техподдержка (по вопросам подключения):</strong> (34141)6-67-20 | <a href="mailto:support@newit-lan.ru">support@newit-lan.ru</a><br />
         <strong>Отдел заказов:</strong> (34141) 6-67-26 | <a href="mailto:zakaz@newit-lan.ru">zakaz@newit-lan.ru</a><br />
		 <strong>Отдел разработки программного обеспечения:</strong> (34141) 6-67-21 | <a href="mailto:dev@newit-lan.ru">dev@newit-lan.ru</a><br />
		 <strong>Административный отдел:</strong> (34141) 6-67-21 | <a href="mailto:newit-director@newit-lan.ru">newit-director@newit-lan.ru</a><br />
		  <strong>Бухгалтерия:</strong> (34141) 6-67-21 | <a href="mailto: newit-fin@newit-lan.ru"> newit-fin@newit-lan.ru</a><br />
    </address>
</div>

