<div>
    <h2>Аутсорсинг</h2><br>
   <p> <strong>Аутсорсинг</strong> - передача организацией на основании договора определённых бизнес-процессов или производственных функций на обслуживание другой компании, специализирующейся в соответствующей области. В отличие от услуг сервиса и поддержки, имеющих разовый, эпизодический, случайный характер и ограниченных началом и концом, на аутсорсинг передаются обычно функции по профессиональной поддержке бесперебойной работоспособности отдельных систем и инфраструктуры на основе длительного контракта.</p>
	<p>Наша компания обладает необходимыми ресурсами, квалифицированными кадрами и опытом реализации следующих задач:</p>
	<ul>
		<li>аудит, разработка и проектирование IT инфраструктуры заказчика;</li>
		<li>подбор, инсталляция и внедрение, при необходимости, разработка программного обеспечения для проекта;</li>
        <li>монтаж локальных вычислительных сетей и оборудования на основании проекта;</li>
		<li>настройка оборудования, программного обеспечения;</li>
		<li>сопровождение оборудования и программного обеспечения.</li>
  </ul>
  <p>По всем интересующим вопросам обращаться:</p>
<strong>ООО "Новые информационные технологии" <br>
телефон: (34141) 6-67-21, (34141) 7-18-27  <br>
E-Mail: <a href="mailto:zakaz@newit-lan.ru">zakaz@newit-lan.ru</a></strong>
</div>

