    <div id="claims">
            <h4 class="h4 page-header">Список тарифов</h4>
            
            <form class="container" id="tarifsForm" name="tarifsForm">
                    <input type="hidden" name="id" value="0" />

                <div class="row">
                    <div class="col-md-2">
                        <label for="name">Наименование:</label>
                    </div>   
                    <div class="col-md-4">
                        <input class="form-control" name="name" />
                    </div>
                    <div class="col-md-2">
                        <label for="price">Скорость:</label>
                    </div>
                    <div class="col-md-4">
                        <input class="form-control" name="speed" />
                    </div>
                    <div class="col-md-2">
                        <label for="price">Стоимость:</label>
                    </div>
                    <div class="col-md-4">
                        <input class="form-control" name="price" />
                    </div>
                 </div>
                <div class="panel-body">
                        <button type="submit" class="btn btn-sm btn-primary">Сохранить</button>
                        <a id="reset" class="btn btn-sm btn-primary">Сбросить</a>
                </div>

                </form>
<!--
    <form id="claimForm" name="claimForm">
        <input type="hidden" name="id" value="0" />
        <div class="form-group">
            <label for="name">Surname:</label>
            <input class="form-control" name="surname" />
        </div>
        <div class="form-group">
            <label for="price">Name:</label>
            <input class="form-control" name="name" />
        </div>

        <div class="form-group">
                <label for="price">Patronymic:</label>
                <input class="form-control" name="patronymic" />
            </div>
		<div class="form-group">
            <label for="price">Adress:</label>
            <input class="form-control" name="adress" />
        </div>

        <div class="form-group">
            <label for="price">Tariff:</label>
            <input class="form-control" name="tariff" />
        </div>
        <div class="form-group">
            <label for="price">Phone:</label>
            <input class="form-control" name="phone" />
        </div>
        <br>
        <div class="form-group">
            <label for="price">Email:</label>
            <input class="form-control" name="mail" />
        </div>
        <div class="panel-body">
            <button type="submit" class="btn btn-sm btn-primary">Сохранить</button>
            <a id="reset" class="btn btn-sm btn-primary">Сбросить</a>
        </div>
    </form>
-->

    <table class="table table-condensed table-striped table-bordered">
        <thead>
		<tr>
            <th>Наименование</th>
            <th>Скорость</th>
            <th>Стоимость</th>
			<th></th>
		</tr>
		</thead>
        <tbody>
        </tbody>
    </table>

</div>

